<h1>Armory</h1>

<div class="row">
    <div class="col-xs-4"> 
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive" src="assets/armory.png">
            </div>
        </div>  
        
        <br>
        
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Armory is a security-focused desktop wallet geared toward
intermediate and advanced Bitcoin users. The open-source
consumer wallet was first announced in early 2012. In recent
months, the company has pivoted to focus their efforts primarily
on enterprise customers. In addition to support for advanced
security features such as offline signing and fragmented
backups, Armory compares favorably to competing wallets
in terms of privacy. Armory utilizes Bitcoin Core (bitcoind) to
connect to the Bitcoin network. Consequently, Armory users
enjoy the network privacy benefits of using a full node. The
software is compatible with deterministic address generation
and does not reuse addresses by default. Armory transactions
broadcast through Bitcoin Core can often be routed through Tor with minor configuration in order to bolster network privacy.</p>
            <p>
Armory can improve privacy protections for users on the
blockchain by supporting a mixing protocol such as CoinJoin.
More careful handling of change outputs would also bolster
Armory’s protections on the blockchain. Additionally, Armory
can provide users more feedback through the GUI about
potential privacy degradations that may occur — before the
transactions are broadcast — and help steer the user through
avoiding those pitfalls.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        
        <div class="row">
            <div class="col-xs-8">
                <h4>Overall Wallet Privacy</h4>
            </div>
            <div class="col-xs-4">
                <h5>Total Score</h5>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <overall-rating rating-model="categoryScores"></overall-rating>
            </div>
        </div>
        
        <br>
        <br>
        
        <div class="row">
            <div class="col-xs-8">
                <h4>Categories</h4>
            </div>
            <div class="col-xs-4">
                <h5>Category Score</h5>
            </div>
        </div>
        
        
        <div ng-repeat="category in categoryScores" >
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{categoryTitles[$index]}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <privacy-rating rating-model="category"></privacy-rating>
                </div>
            </div>
        </div>
        
    </div>
</div>
